@font-face {
	font-family: SourceCodePro;
	src: url("./public/SourceCodePro-Regular.ttf");
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	color: var(--color-text);
	font-family: "SourceCodePro", sans-serif;
}

h1,
section,
p,
span,
svg {
	transition: background-color 0.5s, color 0.5s;
}

:root {
	--primary-red: #ff0000;
	--primary-white: #ffffff;

	/* Light Theme Variables */
	--color-text-light: #ffdd00;
	--color-background-light: #0592cd;

	/* Dark Theme Variables */
	--color-text-dark: #fdfbf6;
	--color-background-dark: #301934;
}

.light-theme {
	--color-text: var(--color-text-light);
	--color-background: var(--color-background-light);
	--color-pink: var(--color-pink-light);
	--color-green: var(--color-green-light);
	--color-blue: var(--color-blue-light);
}

.dark-theme {
	--color-text: var(--color-text-dark);
	--color-background: var(--color-background-dark);
	--color-pink: var(--color-text-dark);
	--color-green: var(--color-text-dark);
	--color-blue: var(--color-text-dark);
}

/* Experience -------------------------------------------------------------- */

.experience {
	position: fixed;
	width: 100vh;
	height: 100vh;
}
.experience-canvas {
	width: 100%;
	height: 100%;
}

/* Page Itself ------------------------------------------------------------- */

.page {
	z-index: 99999;
	width: 100%;
	height: 100vh;
	overflow: hidden;
}

.page-wrapper {
	position: relative;
}

/* Preloader Styles---------------------------------------------------------- */

.preloader {
	opacity: 1;
	width: 100%;
	height: 100vh;
	z-index: 999999999999999999;
}

.hidden {
	display: none;
}

.middle {
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	position: absolute;
}
.bar {
	width: 10px;
	height: 70px;
	background: #fff;
	display: inline-block;
	transform-origin: bottom center;
	border-top-right-radius: 20px;
	border-top-left-radius: 20px;
	/*   box-shadow:5px 10px 20px inset rgba(255,23,25.2); */
	animation: loader 1.2s linear infinite;
}
@keyframes loader {
	0% {
		transform: scaleY(0.1);
		background: var(--color-background);
	}
	50% {
		transform: scaleY(1);
		background: var(--color-text);
	}
	100% {
		transform: scaleY(0.1);
		background: transparent;
	}
}
.bar1 {
	animation-delay: 0.1s;
}
.bar2 {
	animation-delay: 0.2s;
}
.bar3 {
	animation-delay: 0.3s;
}
.bar4 {
	animation-delay: 0.4s;
}
.bar5 {
	animation-delay: 0.5s;
}
.bar6 {
	animation-delay: 0.6s;
}
.bar7 {
	animation-delay: 0.7s;
}
.bar8 {
	animation-delay: 0.8s;
}

.animateThis {
	display: inline-block;
	transform: translateY(100%);
}

.intro-text {
	opacity: 0;
	line-height: 30px;
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	font-weight: 700;
	transform: translate(-50%, -50%);
	font-size: 20px;
	color: var(--color-text);
	text-shadow: 0 0 8px var(--primary-red), 0 0 12px var(--primary-red);
}

.arrow-svg-wrapper {
	opacity: 0;
	position: absolute;
	bottom: 5%;
	left: 50%;
	animation: bounce 0.5s ease-in alternate infinite;
	color: var(--primary-red);
}

@keyframes bounce {
	0% {
		transform: translateY(0);
	}
	100% {
		transform: translateY(8px);
	}
}

/* Toggle Bar --------------------------------------------------------------- */

.toggle-bar {
	opacity: 0;
	position: fixed;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	top: 48px;
	right: 48px;
	z-index: 99999999999;
}

.sun-wrapper,
.moon-wrapper {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	color: var(--color-text);
}

.toggle-button {
	cursor: pointer;
	position: relative;
	width: 56px;
	height: 28px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--color-text);
	border-radius: 999px;
	margin: 0px 16px;
	border: none;
	box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.toggle-circle {
	position: absolute;
	left: 6px;
	border-radius: 50%;
	width: 20px;
	height: 20px;
	background-color: var(--color-background);
	transition: all 0.2s ease-in-out;
}

.toggle-button:hover .toggle-circle {
	transform: scale(0.6);
}

.slide {
	left: 28px;
}

/* Section Formatting ------------------------------------------------------------- */

.section-margin {
	height: 3000px;
	width: 100%;
}

.section {
	width: 45%;
	padding: 1000px 4%;
	margin: 0;
	background-color: var(--color-background);
}

.left {
	margin-right: auto;
	border-top-right-radius: 700px 700px;
	border-bottom-right-radius: 0px 0px;
}

.right {
	margin-left: auto;
	border-top-left-radius: 700px 700px;
	border-bottom-left-radius: 0px 0px;
}

/* Progress Bars ------------------------------------------------------------- */

.progress-wrapper {
	height: 0;
	width: 12px;
	z-index: 9999;
}

.progress-bar-wrapper-left {
	position: absolute;
	top: 0;
	left: 0;
}

.progress-bar-wrapper-right {
	position: absolute;
	top: 0;
	right: 0;
}

.progress-bar {
	height: 100vh;
	width: 100%;
	background-color: var(--color-text);
	transform-origin: top center;
	transform: scaleY(1);
}

/* Sections ------------------------------------------------------------- */
.section {
	position: relative;
	overflow: hidden;
}

.section-intro-wrapper {
	position: relative;
	padding: 20% 5%;
	border-bottom: 2px solid var(--color-text);
	padding-bottom: 200px;
}

.section-detail-wrapper {
	position: relative;
	padding: 20% 5%;
}

.section-heading {
	font-size: 24px;
	font-weight: 700;
	line-height: 1.8;
	margin-top: 64px;
}

.section-text {
	line-height: 1.5;
	margin-top: 18px;
	font-size: 16px;
}

/* Title Decoration for Section */

.section-title {
	position: relative;
	color: var(--color-text);
}

.section-title-text {
	display: block;
	font-size: 40px;
	font-weight: 900;
	transform-origin: left;
	transform: skewY(15deg);
	z-index: 5;
	text-transform: uppercase;
	text-shadow: 2px 2px var(--primary-red);
	padding-left: 20px;
}

.styleOne,
.styleTwo,
.styleThree {
	position: absolute;
	display: block;
	width: 100%;
	max-width: 278px;
	height: 60px;
	border: 1px solid var(--color-text);
	transform-origin: left;
	transform: skewY(-15deg);
}

.styleOne {
	top: 0px;
}

.styleTwo {
	top: 80px;
}

.styleThree {
	top: 80px;
	transform: skewY(15deg);
	background-color: var(--color-text);
}

.section-number {
	position: absolute;
	bottom: 15px;
	right: 0px;
	color: var(--color-text);
	font-size: 40px;
}

/* Hero Section ------------------------------------------------------------ */

.hero {
	width: 100vw;
	height: 100vh;
}

.hero-wrapper {
	position: relative;
	height: 100%;
	width: calc(100% - 160px);
	margin: 0 auto;
	max-width: 1500px;
}

.hero-main {
	opacity: 0;
	position: absolute;
	bottom: 21%;
	left: 0;
}

.hero-second {
	opacity: 0;
	position: absolute;
	top: 21%;
	right: 0;
}

.hero-main-title {
	font-size: 52px;
	color: var(--color-text);
	text-shadow: 0 0 8px var(--primary-red), 0 0 12px var(--primary-red);
}

.hero-main-description {
	font-size: 27px;
	color: var(--color-text);
	text-shadow: 0 0 8px var(--primary-red), 0 0 12px var(--primary-red);
}

.hero-second-subheading {
	font-size: 30px;
	color: var(--color-text);
	text-shadow: 0 0 8px var(--primary-red), 0 0 12px var(--primary-red);
}

/* Media Queries */

@media (max-width: 968px) {
	.section {
		width: 100%;
	}
	.hero-main-title {
		font-size: 30px;
		color: var(--color-text);
		text-shadow: 0 0 8px var(--primary-red), 0 0 12px var(--primary-red);
	}

	.hero-main-description {
		font-size: 25px;
		color: var(--color-text);
		text-shadow: 0 0 8px var(--primary-red), 0 0 12px var(--primary-red);
	}
	.hero-second {
		position: absolute;
		top: 10%;
		right: 0;
	}
	.hero-second-subheading {
		font-size: 22px;
		color: var(--color-text);
		text-shadow: 0 0 8px var(--primary-red), 0 0 12px var(--primary-red);
	}
	.hero-main {
		position: absolute;
		bottom: 12%;
		left: 0;
	}
	.hero-wrapper {
		position: relative;
		height: 100%;
		width: calc(100% - 60px);
		margin: 0 auto;
		max-width: 1500px;
	}
	.progress-bar-wrapper-left {
		left: auto;
		right: 0;
	}
}
